<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.linkedin.utlities.Reporting"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="/Users/azarkabeer/Documents/LinkedIn">
        <parameter name="browser" value="chrome"></parameter>
        <classes><class name="com.linkedin.testcases.TC_logintest">
            <methods>
                <include name="LoginTest"/>
                <include name="print"/>
                <include name="fail"/>
            </methods>
        </class></classes>
    </test>
</suite>